{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block script %}
  

{% endblock %}

{%block content%}
  <style>
        p { 
            font-size: 20px;　　　　　          /* 設定文字大小 */
            line-height: 25px;　　　          　/* 設定文字行距 */
            letter-spacing: 5px;　            　/* 設定文字間距 */
        } 
  </style>
    <div class="container">

        <div class="span8">
            <div class="row-fluid">
                <h3>{{n.title}}</h3>
                <hr>
                <h5>{{n.media}}</h5>  
                <p>&nbsp;&nbsp;{{n.content}}</p> 
            </div>
        </div>    
      <hr>

      <footer>
        <h6>&copy; Company 2014</h6>
      </footer>

    </div><!--/.container-->
 
{%endblock%}